.login-card {
    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.08),
        0 4px 10px rgba(0, 0, 0, 0.04);
}

.login-card input {
    height: 3rem;
}

.login-card label {
    color: #FFF;
}
div {
    color: #FFF;
}