/* Layout general */
.app-layout {
  min-height: 100vh;
}

/* NAVBAR fijo */
.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 99.6vw;
  height: 60px;

  background-color: var(--primary-800);
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
  z-index: 1000; /* MUY IMPORTANTE */
}

/* MAIN compensado */
.app-main {
  padding: 1.5rem;
  padding-top: 60px; /* mismo alto del navbar */
  min-height: calc(100vh - 0px); 
  background-color: var(--surface-a);
}

/* FOOTER */
.app-footer {
  height: 48px;
  background-color: #111827;
  color: #9ca3af;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.85rem;
}
